<div class="slide-out-bg"></div>
<div class="slide-out">
  <div class="slide-out-card">
    <LinkTo @route="author" class="btn-back">
      <span class="sr-only">Back</span>
    </LinkTo>

    <div class="slide-out-heading">
      <div class="title">
        <h3>{{this.lastName}} {{this.firstName}} - Edit Author</h3>
      </div>
    </div>

    <div class="slide-out-content">
      <AuthorForm
        @author={{this.model}}
        @saveAuthor={{this.editAuthor}}
      />
    </div>
  </div>
</div>