<div class="panel-heading">
  <div class="search">
    <Input @type="text" placeholder="Search by Author Name" @value={{this.search}} />
  </div>

  <LinkTo @route="author.create" class="btn-new">
    <div class="sr-only">Add new Author</div>
  </LinkTo>
</div>

<div class="panel-content">
  <h3 class="panel-title">Authors</h3>

  {{#if this.isLoading}}
    <div class="welcome-page">
      <img src="/loading.gif" />
    </div>
  {{else}}
    <ul class="collection">
      {{#each this.model as |author|}}
        <AuthorItem @author={{author}} />
      {{/each}}
    </ul>
  {{/if}}
</div>

{{outlet}}