<div class="panel-heading">
  <div class="search">
    <Input @type="text" placeholder="Search by Author Name" @value={{this.search}} />
  </div>

  <a href class="btn-new">
    <div class="sr-only">Add new Author</div>
  </a>
</div>

{{outlet}}