<div class="panel-heading">
  <div class="search">
    <Input @type="text" placeholder="Search by Title or ISBN" @value={{this.search}} />
  </div>

  <a href="#">
    <div class="sr-only">Add new Book</div>
  </a>
</div>

<div class="panel-content">
  <h3 class="panel-title">Books</h3>

  <ul class="collection">
    <li>
      <a href="#">
        <span class="book-title">Хроники Нарнии</span>
        <em class="book-isbn">83465783458347</em>
      </a>
    </li>
  </ul>
</div>